[submodule "src/abpoa"]
	path = src/abpoa
	url = https://github.com/yangao07/abPOA.git
[submodule "abPOA"]
	path = abPOA
	url = https://github.com/yangao07/abPOA.git
[submodule "src/parasail"]
	path = src/parasail
	url = https://github.com/jeffdaily/parasail
