{
"vntr_loci_path" : "/project/mchaisso_100/cmb-16/bidagu/pipelines/vamos/pipeline/databases/original_adjusted/original_motifs.tsv",
"path" : "/project/mchaisso_100/cmb-16/jingwenr/trfCall/revision/sv-vntr",
"python3" : "~/.conda/envs/lra/bin/python3",
"bedtools" : "/spack/apps/linux-centos7-x86_64/intel-18.0.4/bedtools2-2.27.1-xl5roytjtfrnmsuwogq5yftxixmwmp6q/bin/bedtools",
"grid_small" : "sbatch -c 1 --mem=2G --time=24:00:00 -p qcb --output=/project/mchaisso_100/cmb-16/jingwenr/trfCall/revision/snakemake/log/%j.out",
"grid_align" : "sbatch -c 16 --mem=90G --time=24:00:00 -p qcb --output=/project/mchaisso_100/cmb-16/jingwenr/trfCall/revision/snakemake/log/%j.out",
"grid_median" : "sbatch -c 16 --mem=60G --time=24:00:00 -p qcb --output=/project/mchaisso_100/cmb-16/jingwenr/trfCall/revision/snakemake/log/%j.out",
"filter_SNP_Indels_py" : "/project/mchaisso_100/cmb-16/jingwenr/trfCall/vamos/snakefile/py/filter_SNP_indels.py",
"postprocessing_py" : "/project/mchaisso_100/cmb-16/jingwenr/trfCall/vamos/snakefile/py/postprocessing.py",
"compare_sv_vamos_allele_combineAll_py" : "/project/mchaisso_100/cmb-16/jingwenr/trfCall/vamos/snakefile/py/compare_sv_vamos_allele_combineAll.py",
"process_jasmine_out_combineAll_py" : ""/project/mchaisso_100/cmb-16/jingwenr/trfCall/vamos/snakefile/py/process_jasmine_out_combineAll.py", 


"sv_allele_py" : "/project/mchaisso_100/cmb-16/jingwenr/trfCall/revision/py/sv_allele.py",
"vamos_allele_py" : "/project/mchaisso_100/cmb-16/jingwenr/trfCall/revision/py/vamos_allele.py",
"dotPlot_py" : "/project/mchaisso_100/cmb-16/jingwenr/trfCall/revision/py/dotPlot.py",
}
